Repository phrazzld/timeismoneycc: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-test, eslint, stylelint, prettier

npm-test:
  name: Run tests
  entry: npm test
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

stylelint:
  name: Stylelint
  entry: npm run lint:css
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format:check
  language: system
  pass_filenames: false

feat: prevent commit of sensitive data and large files
  .gitleaks.toml
  .pre-commit-config.yaml
  README.md
  TODO-3-DevWorkflow-Quality.md
  configure-linting-formatting-plan.md
  package.json
  prevent-sensitive-data-plan.md
Due: prettier

feat: enforce conventional commit format
  .gitmessage
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  TODO-3-DevWorkflow-Quality.md
  commitlint.config.js
  enforce-conventional-commits-plan.md
  package.json
  prevent-sensitive-data-plan.md
Due: npm-test, eslint, prettier

feat(dev): enhance pre-commit hooks with automated formatting
  .eslintrc.js
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  TODO-3-DevWorkflow-Quality.md
  add-type-checking-plan.md
  enforce-conventional-commits-plan.md
  jest.config.js
  package.json
  scripts.ts
  tests/scripts.test.ts
  tsconfig.json
Due: npm-test, eslint, prettier

feat(hooks): configure post-commit hooks
  .pre-commit-config.yaml
  README.md
  TODO-3-DevWorkflow-Quality.md
  dw-7-plan.md
  dw-8-plan.md
  scripts/post-commit-docs.sh
  scripts/post-commit-glance.sh
Due: prettier

feat(hooks): configure pre-push hooks
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  TODO-3-DevWorkflow-Quality.md
  dw-9-plan.md
  scripts/validate-branch-name.sh
Due: prettier

feat(quality): implement file length enforcement
  .eslintrc.js
  CONTRIBUTING.md
  TODO-3-DevWorkflow-Quality.md
  dw-10-plan.md
Due: npm-test, eslint, prettier

docs(commits): document commit message standards
  .gitmessage
  CONTRIBUTING.md
  TODO-3-DevWorkflow-Quality.md
  docs/COMMITTING.md
  docs/COMMIT_TEMPLATE.md
Due: prettier

feat(versioning): configure semantic versioning
  .versionrc.js
  CONTRIBUTING.md
  TODO-3-DevWorkflow-Quality.md
  docs/VERSIONING.md
  package.json
Due: npm-test, eslint, prettier

style: add newlines at end of shell scripts
  scripts/post-commit-docs.sh
  scripts/post-commit-glance.sh
  scripts/validate-branch-name.sh
Due: none

fix(ci): prevent pre-commit installation failure in CI
  ci-failure-audit.md
  package.json
Due: prettier

chore(docs): cleanup <type>(<scope>): <subject>
  TODO-3-DevWorkflow-Quality.md
  TODO-4-Frontend.md
  TODO-INDEX.md
  TODO-ORIGINAL.md
Due: prettier

fix(hooks): allow main branches in branch naming validation
  scripts/validate-branch-name.sh
Due: none

chore(docs): remove completed docs, update backlog <type>(<scope>): <subject>
  BACKLOG.md
  add-type-checking-plan.md
  ci-failure-audit.md
  dw-10-plan.md
  dw-7-plan.md
  dw-8-plan.md
  dw-9-plan.md
Due: prettier

feat(ci): implement comprehensive CI pipeline with quality gates
  .github/workflows/ci.yml
  CI-TEST-PLAN.md
  README.md
  T010-plan.md
  T011-plan.md
  T012-plan.md
  T013-plan.md
  T014-plan.md
  T015-plan.md
  T016-plan.md
  TODO.md
  jest.config.js
Due: npm-test, eslint, prettier

chore(docs): cleanup <type>(<scope>): <subject>
  CI-TEST-PLAN.md
  PLAN.md
  T010-plan.md
  T011-plan.md
  T012-plan.md
  T013-plan.md
  T014-plan.md
  T015-plan.md
  T016-plan.md
Due: prettier

fix(ci): update workflow to use npm install and adjust caching
  .github/workflows/ci.yml
Due: none

docs: add CI failure audit and security vulnerability report
  ci-failure-audit.md
  security-vulnerability-report.md
Due: prettier

fix(ci): exclude node_modules from HTML validation
  .github/workflows/ci.yml
Due: none

fix(ci): replace HTML validator action with simpler approach
  .github/workflows/ci.yml
Due: none

chore(docs): cleanup <type>(<scope>): <subject>
  BACKLOG.md
  PLAN.md
  TODO.md
  ci-failure-audit.md
  security-vulnerability-report.md
Due: prettier

chore(docs): update backlog <type>(<scope>): <subject>
  BACKLOG.md
Due: prettier

feat(typescript): add complete strict TypeScript configuration
  T001-plan.md
  TODO.md
  tsconfig.json
Due: prettier

refactor(typescript): improve type safety in scripts.ts
  TODO.md
  scripts.ts
Due: prettier

chore(linting): verify scripts.ts passes ESLint rules
  TODO.md
Due: prettier

chore(build): update package.json scripts for TypeScript workflow
  TODO.md
  package.json
  tests/scripts.test.ts
Due: prettier

test(typescript): enhance tests with strict types and edge cases
  TODO.md
  tests/scripts.test.ts
Due: prettier

test: verify all tests pass in scripts.test.ts
  T006-plan.md
  TODO.md
Due: prettier

chore(build): compile scripts.ts to dist/scripts.js
  T008-plan.md
  TODO.md
Due: prettier

chore: remove legacy JavaScript test file
  T007-plan.md
  TODO.md
Due: prettier

refactor: update index.html to reference compiled scripts.js
  T009-plan.md
  TODO.md
  index.html
Due: prettier

chore: remove legacy scripts.js source file
  T010-plan.md
  TODO.md
Due: prettier

test: verify UI functionality after TypeScript migration
  TODO.md
Due: prettier

docs: update README.md to reflect TypeScript-only workflow
  README.md
  TODO.md
Due: prettier

chore: finalize TypeScript migration cleanup
  PLAN.md
  T001-plan.md
  T006-plan.md
  T007-plan.md
  T008-plan.md
  T009-plan.md
  docs/DEVELOPMENT_PHILOSOPHY_APPENDIX_TYPESCRIPT.md
  scripts.js
  tests/scripts.test.js
Due: npm-test, eslint, prettier

refactor: export isElementText and shiftExample functions
  TODO.md
  scripts.ts
Due: prettier

test: refactor tests to import functions from scripts.ts
  TODO.md
  tests/scripts.test.ts
Due: prettier

chore: add missing strictness flags to tsconfig.json
  TODO.md
  tsconfig.json
Due: prettier

refactor: create and export getCopyrightText pure function
  T005-plan.md
  TODO.md
  scripts.ts
Due: prettier

refactor: create and export applyCopyrightText function
  T006-plan.md
  TODO.md
  scripts.ts
Due: prettier

test: update copyright tests to use new exported functions
  T007-plan.md
  TODO.md
  tests/scripts.test.ts
Due: prettier

Path conditions:
  npm-test: any of: \.js$
  eslint: any of: \.js$
  stylelint: any of: \.css$
  prettier: any of: \.(js|json|css|html|md)$
